textarea, input[type=text], input[type=number]{
  padding-left: 5px;
  padding-right: 5px;
  background-color: #4C566A;
  color: #ECEFF4;

  width: 30%;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #88C0D0;
}


textarea:focus, input[type=text]:focus, input[type=number]:focus{
  outline: none;
  border-bottom:2px solid #D08770;
}


textarea {
  height: 150px;
  resize: none;
}


button[type=submit] {
  border-radius: 10px;
  border: 1px solid #ECEFF4;
  background-color: #4C566A;	
  color: #ECEFF4;
  height: 30px;
}


button[type=submit]:hover {
  color: #88C0D0;
  border-color: #88C0D0;
}


select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #88C0D0;
  background-color: #4C566A;
  color: #ECEFF4;
}


select:focus {
  border-bottom: 2px solid #D08770;
}


label {
  font-size: 14px;
}
