{% extends "base.html" %}
{% block title %}RailInventory - Neu{% endblock %}

{% block headlinks %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}"></link>	
{% endblock %}

{% block content %}
<div id="content">
	<form method="post" action="/add">
		<input type="text" id="name" name="name"><br>
  	<label for="name">Name</label><br>
		
  	<input type="text" id="number" name="Nummer"><br>
		<label for="number">Nummer</label><br>

  	<input type="text" id="producer" name="Hersteller"><br>
		<label for="producer">Hersteller</label><br>

  	<textarea type="text" id="comment" name="Kommentar" rows=5></textarea><br>
		<label for="comment">Kommentar</label><br><br>
		<button type="submit">speichern</button>

	</form>


</div>



{% endblock %}
