{% extends "base.html" %}
{% block title %}RailInventory - Neu{% endblock %}

{% block headlinks %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add.css') }}"></link>	
{% endblock %}

{% block content %}
<div id="content">
	<form method="post" action="/add">
		<label for="name">Name</label><br>
  	<input type="text" id="name" name="name"><br>
  	<label for="number">Nummer</label><br>
  	<input type="text" id="number" name="Nummer"><br>
		<label for="producer">Hersteller</label><br>
  	<input type="text" id="producer" name="Hersteller"><br>
  	<label for="comment">Kommentar</label><br>
  	<textarea type="text" id="comment" name="Kommentar" rows=5></textarea><br><br>
		<button type="submit">Submit</button>

	</form>


</div>



{% endblock %}
