{% extends "base.html" %}
{% block title %}RailInventory - Neu{% endblock %}

{% block headlinks %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}"></link>	
{% endblock %}

{% block content %}
	
    <form method="post" action="/add">
        {{ form.csrf_token }}

        {{ form.train_type }}<br>
        <label for="train_type">Zug Typ</label><br>

        {{ form.name }}<br>
        <label for="name">Name</label><br>
		
        {{ form.number }}<br>
        <label for="number">Nummer</label><br>

        {{ form.producer }}<br>
        <label for="producer">Hersteller</label><br>

        {{ form.comment }}<br>
        <label for="comment">Kommentar</label><br><br>

        <button type="submit">Speichern</button>

    </form>

{% endblock %}
