{% extends "base.html" %}
{% block title %}RailInventory - Start{% endblock %}

{% block content %}
	
    <h1>Lokomotiven</h1>
	
    <table>
        <tr>
			<th>ID</th>
            <th>Name</th>
            <th>Nummer</th>
            <th>Digitaladresse</th>
            <th>Sound</th>
            <th>Lok Typ</th>
            <th>vMax</th>
            <th>Leistung</th>
            <th>Baujahr</th>
            <th>Hersteller Modell</th>
            <th>Hersteller Original</th>
            <th></th>
        </tr>

        {% for locomotive in locomotives %}	
        <tr>				
                {% for item in locomotive[:-1] %}
                <td>{{ item }}</td>
                {% endfor %}
				<td><a href="{{ url_for('edit_views.locomotive', id=locomotive[0]) }}">mehr</a></td>

        </tr>
        {% endfor %}
    </table>

    <br>

    <h1>Waggons</h1>
	
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Nummer</th>
            <th>Hersteller</th>
            <th></th>
        </tr>

        {% for wagon in wagons %}
            <tr>
                {% for item in wagon[:-1] %}
                <td>{{ item }}</td>
                {% endfor %}
                <td><a href="{{ url_for('edit_views.wagon', id=wagon[0]) }}">mehr</a></td>

            </tr>
        {% endfor %}
    </table>
	
{% endblock %}
