{% extends "base.html" %}
{% block title %}RailInventory - Start{% endblock %}



{% block content %}
	<div id="content">
	
	<h1>Lokomotiven</h1>
	<table>
		
		<tr>
			<th>Name</th>
			<th>Nummer</th>
			<th>Hersteller</th>
			<th>Kommentar</th>
		</tr>

		{% for locomotive in locomotives %}
		
			<tr>
				
				{% for item in locomotive[1:] %}
				<td>{{ item }}</td>
				{% endfor %}
			
			</tr>

		{% endfor %}
	</table>
	<br>
	<h1>Waggons</h1>
	<table>
		
		<tr>
			<th>Name</th>
			<th>Nummer</th>
			<th>Hersteller</th>
			<th>Kommentar</th>
		</tr>

		{% for wagon in wagons %}
		
			<tr>
				{% for item in wagon[1:] %}
				<td>{{ item }}</td>
				{% endfor %}
			
			</tr>

		{% endfor %}
	</table>
	
	</div>

{% endblock %}
