{% extends "base.html" %}
{% block title %}RailInventory - Start{% endblock %}



{% block content %}
	<div id="content">
		
	<table>
		
		<tr>
			<th>Name</th>
			<th>Nummer</th>
			<th>Hersteller</th>
			<th>Kommentar</th>
		</tr>

		{% for locomotive in locomotives %}
		
			<tr>
				
				{% for item in locomotive %}
				<td>item</td>
				{% endfor %}
			
			</tr>

		{% endfor %}
	
	<tr> <td>test</td> <td>test</td> <td>test</td> <td>test</td> </tr>
	<tr> <td>test</td> <td>test</td> <td>test</td> <td>test</td> </tr>
	
	</table>
	
	</div>

{% endblock %}
